# Created by .ignore support plugin (hsz.mobi)

*.pyc

*.db

config.py
search.db/Post/MAIN_e5ptnscustf24a9a._stored.col
search.db/Post/MAIN_e5ptnscustf24a9a.pst
search.db/Post/MAIN_e5ptnscustf24a9a.trm
