<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }}--devlog</title>
    {% else %}
    <title>Devblog</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{#导航栏#}
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">Devblog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">Home</a></li>
                {% if  g.user.is_authenticated %}
                    <li><a href="{{ url_for('user', username=g.user.username)}}">Your Profile</a></li>
                    <li>
                        <form class="form-inline" style="padding-top: 10px;">
                            <div class="form-group">
                                <label class="sr-only" for="searchinput">Search</label>
                                <input type="text" class="form-control input-sm" id="searchinput" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default btn-sm">Search</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        {% if  g.user.is_authenticated %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        {% endif %}
        </div>
    </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content%}
        <div class="container">
            {% block page_content %}
            {% endblock %}
        </div>
    {% endblock %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>