{% extends 'base/base.html' %}

{% block content %}
    <h1>Editr Your Profile</h1>
    <td>Your nickname:</td>
    <form action="" method="post" name="edit">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>Your name</td>
                <ta>{{ form.username(size=24) }}</ta>
                {% for error in form.errors.username %}
                    <br><sapn style="color: red;">[{{ error }}]</sapn>
                {% endfor %}
            </tr>
            <tr>
                <td>Your Profile</td>
                <td><input type="submit" value="Save changes"></td>
            </tr>
        </table>
    </form>
{% endblock %}