{% extends 'base/base.html' %}
{% block page_content %}
    <div class="col-md-8">
        <h1 class="page-header">
            Latest Posts
        </h1>
    </div>
    <div class="col-md-10 col-md-offset-0">
        <!-- posts is a Paginate object -->
        <ul class="posts">
            {% for post in posts %}
                {% include 'post.html' %}
            {% endfor %}
            {% if posts.has_prev %}
                <a href="{{ url_for('index', page = posts.prev_num) }}"><< Newer posts</a>
            {% else %}<< Newer posts
            {% endif %} |
            {% if posts.has_next %}
                <a href="{{ url_for('index', page = posts.next_num) }}">Older posts >></a>
            {% else %}Older posts >>
            {% endif %}
        </ul>
    </div>
{% endblock %}