{% extends 'base/base.html' %}
{% block content %}
    <div class="Container">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" id="logindev">
            <div>
                <h1><small>登录</small></h1>
                <form class="form-horizontal" method="POST">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{form.hidden_tag()}}
                            {{ form.username.label }} {{ form.username() }}
                            {{ form.password.label }} {{ form.password() }}
                        </div>
                        <div class="form-group col-xs-12">
                            {{ form.remember_me }} Remember Me</p>
                            {{ form.submit() }}
                        </div>
                    </div>
                </form>
                        <p>
                            New user?
                            <a href="{{ url_for('auth.register') }}">注册新用户</a>
                        </p>
            </div>
        </div>
    </div>
{% endblock %}