{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <hr>
                <div class="post-preview">
                     {% for post in posts %}
                         <a href="{{ url_for('.post', id=post.id) }}">
                            <h2 class="post-title">
                                {{ post.title }}
                            </h2>
                         <a>
                         <p class="post-meta">Posted by <a href="{{ url_for('index') }}"> Devblog </a>{{ moment(post.timestamp).format('LLL') }}</p>
                     {% endfor %}
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}